<!doctype html>
<html lang="en">
<head>
    <title>Tweety</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/tweety/css/style.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4">
            <h1><a href="{% url 'home' %}" class="logo">Tweety</a></h1>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href={% url 'home' %}><span class="fa fa-home mr-3"></span> Home</a>
                </li>
                <li class="active">
                    <a href="#"><span class="fa fa-user mr-3"></span> Region Selection</a>
                </li>
                <li>
                    <a href="{% url 'info' %}"><span class="fa fa-briefcase mr-3"></span> About</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
                </li>
                <li>
                    <a href="{% url 'login' %}"><span class="fa fa-sign-out mr-3"></span> Logout</a>
                </li>
            </ul>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">HeatMaps - Regional Basis</h2>
        <p>Corona related tweets are gathered with broad search term. The gathered tweet sentiment results are calculated
            using NLTK library.</p>
        <p>The graphs show entity attributes. In the first chart, number of tweet in which the entity included are shown
            in the daily basis. In the second graph, the average result of these tweets are shown in order to express
            general sentiment opinion of these concepts.</p>
        <form action="/country">
            <label for="regions">Choose a region:</label>
            <select name="regions" id="resions">
                <option value="Africa">Africa</option>
                <option value="Asia">Asia</option>
                <option value="Europe">Europe</option>
                <option value="North America">North America</option>
                <option value="Oceania">Oceania</option>
                <option value="South America">South America</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        <div id="occurrence_graph_container" class="graphs" style="height: 100%; width: 100%"></div>
        <div id="spacing" style="height: 775px"></div>
        <div id="semantic_graph_container" class="graphs" style="height: 100%; width: 100%"></div>
    </div>
</div>

<script src="../../static/tweety/js/jquery.min.js"></script>
<script src="../../static/tweety/js/popper.js"></script>
<script src="../../static/tweety/js/bootstrap.min.js"></script>
<script src="../../static/tweety/js/main.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-heatmap.min.js"></script>
<script>
    anychart.onDocumentReady(function () {
        var url_string = window.location.href
        var url = new URL(url_string);
        var c = url.searchParams.get("regions");
        if (c == null) {
            c = "Africa"
        }
        createChart(c)
    });

    function createChart(region) {
        drawChart(getRegionData({{ occurrence_data|safe }}, region), "occurrence_graph_container", true)
        drawChart(getRegionData({{ semantic_data|safe }}, region), "semantic_graph_container", false)
    }

    function getRegionData(data, region) {
        return data.filter(function (d) {
            return d.region === region
        })
    }

    function checkAdult(age) {
        return age >= 18;
    }

    function drawChart(data, id, type) {
        var chart = anychart.heatMap(data);

        var colorScale = anychart.scales.ordinalColor();
        // set color for all points
        if (type) {
            colorScale.ranges([
                {less: 1, color: '#610606'},
                {from: 1, to: 3, color: '#b12c2c'},
                {from: 3, to: 5, color: '#ee5050'},
                {from: 5, to: 9, color: '#efa5a5'},
                {from: 9, to: 15, color: '#ffffff'},
                {from: 15, to: 30, color: '#9dd79a'},
                {from: 30, to: 50, color: '#7cc777'},
                {from: 50, to: 80, color: '#56bb4d'},
                {from: 80, to: 100, color: '#32a82b'},
                {greater: 100, color: '#15790e'}
            ])
        } else {
            colorScale.ranges([
                {less: -0.7, color: '#610606'},
                {from: -0.7, to: -0.55, color: '#b12c2c'},
                {from: -0.55, to: -0.4, color: '#ee5050'},
                {from: -0.4, to: -0.2, color: '#efa5a5'},
                {from: -0.2, to: 0, color: '#ffffff'},
                {from: 0, to: 0.2, color: '#9dd79a'},
                {from: 0.2, to: 0.4, color: '#7cc777'},
                {from: 0.4, to: 0.55, color: '#56bb4d'},
                {from: 0.55, to: 0.7, color: '#32a82b'},
                {greater: 0.7, color: '#15790e'}
            ])
        }

        chart.colorScale(colorScale);

        // Sets selection mode for single selection
        chart.interactivity().selectionMode('none');

        chart.padding([10, 20, 10, 20]);

        if (type) {
            chart
                .title()
                .useHtml(true)
                .enabled(true)
                .padding([0, 0, 10, 5])
                .align('left')
                .text(
                    'Tweet Entities <span style=\'font-size: 13px; color:#B9B9B9\'>(Daily Counts)</span>'
                );
        } else {
            chart
                .title()
                .useHtml(true)
                .enabled(true)
                .padding([0, 0, 10, 5])
                .align('left')
                .text(
                    'Tweet Entities <span style=\'font-size: 13px; color:#B9B9B9\'>(Sentiment Result)</span>'
                );
        }

        // Sets chart labels
        {#chart#}
        {#    .labels()#}
        {#    .enabled(true)#}
        {#    .maxFontSize(14)#}
        {#    .format(function () {#}
        {#        return this.x + this.y + this.getData('symbol');#}
        {#    });#}

        // Turns off axes
        chart
            // Sets chart and hover chart settings
            .stroke('#fff');
        chart
            .hovered()
            .stroke('6 #fff')
            .fill('#545f69')
            .labels({fontColor: '#fff'});

        // Sets legend
        chart
            .legend()
            .enabled(true)
            .align('top')
            .position('right')
            .itemsLayout('vertical')
            .padding([2, 10, 0, 20]);

        // Sets tooltip
        if (type) {
            chart
                .tooltip()
                .titleFormat(function () {
                    return this.y + " - " + this.x;
                })
                .format(function () {
                    return 'Count: ' + this.heat;
                });
        } else {
            chart
                .tooltip()
                .titleFormat(function () {
                    return this.y;
                })
                .format(function () {
                    return 'Result: ' + this.heat;
                });
        }

        chart.height(750);

        chart.container(id);
        chart.draw();
    }
</script>
</body>
</html>