<!doctype html>
<html lang="en">
<head>
    <title>COVID-19 Analysis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/main/css/style.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4">
            <h1><a href="{% url 'login' %}" class="logo">Tweety</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
                </li>
                <li>
                    <a href="{% url 'country' %}"><span class="fa fa-user mr-3"></span> Country Selection</a>
                </li>
                <li>
                    <a href="{% url 'info' %}"><span class="fa fa-briefcase mr-3"></span> About</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
                </li>
                <li>
                    <a href="{% url 'login' %}"><span class="fa fa-sign-out mr-3"></span> Logout</a>
                </li>
            </ul>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">HeatMap Graph</h2>
        <div id="occurrence_graph_container" class="graphs" height=2000></div>
        <div id="semantic_graph_container" class="graphs"></div>
    </div>
</div>

<script src="../../static/main/js/jquery.min.js"></script>
<script src="../../static/main/js/popper.js"></script>
<script src="../../static/main/js/bootstrap.min.js"></script>
<script src="../../static/main/js/main.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-heatmap.min.js"></script>
<script>
    anychart.onDocumentReady(function () {
        // create the data
        var occ_data = {{ occurrence_data|safe }};
        drawChart(occ_data, "occurrence_graph_container", true)


        var sem_data = {{ semantic_data|safe }};
        drawChart(sem_data, "semantic_graph_container", false)

    });

    function drawChart(data, id, type) {
        var chart = anychart.heatMap(data);

        var colorScale = anychart.scales.ordinalColor();
        // set color for all points
        colorScale.ranges([
            {less: 0.35, color: '#e3f2fd'},
            {from: 0.35, to: 0.45, color: '#D3EDFC'},
            {from: 0.45, to: 0.5, color: '#BEE7FC'},
            {from: 0.5, to: 0.55, color: '#aee2fb'},
            {from: 0.55, to: 0.6, color: '#B3B0D3'},
            {from: 0.6, to: 0.65, color: '#B691BB'},
            {from: 0.65, to: 0.7, color: '#B973A3'},
            {from: 0.7, to: 0.75, color: '#BC558B'},
            {from: 0.75, to: 0.8, color: '#BF3673'},
            {greater: 0.8, color: '#c2185b'}
        ]);
        chart.colorScale(colorScale);

        // Sets selection mode for single selection
        chart.interactivity().selectionMode('none');

        chart.padding([10, 20, 10, 20]);

        if (type) {
            chart
                .title()
                .useHtml(true)
                .enabled(true)
                .padding([0, 0, 10, 5])
                .align('left')
                .text(
                    'Tweet Entities <span style=\'font-size: 13px; color:#B9B9B9\'>(Daily Counts)</span>'
                );
        } else {
            chart
                .title()
                .useHtml(true)
                .enabled(true)
                .padding([0, 0, 10, 5])
                .align('left')
                .text(
                    'Tweet Entities <span style=\'font-size: 13px; color:#B9B9B9\'>(Semantic Result)</span>'
                );
        }

        // Sets chart labels
        {#chart#}
        {#    .labels()#}
        {#    .enabled(true)#}
        {#    .maxFontSize(14)#}
        {#    .format(function () {#}
        {#        return this.x + this.y + this.getData('symbol');#}
        {#    });#}

        // Turns off axes
        chart
            .yAxis(null)
            .xAxis(null)
            // Sets chart and hover chart settings
            .stroke('#fff');
        chart
            .hovered()
            .stroke('6 #fff')
            .fill('#545f69')
            .labels({fontColor: '#fff'});

        // Sets legend
        chart
            .legend()
            .enabled(true)
            .align('top')
            .position('right')
            .itemsLayout('vertical')
            .padding([2, 10, 0, 20]);

        // Sets tooltip
        if (type) {
            chart
                .tooltip()
                .titleFormat(function () {
                    return this.y;
                })
                .format(function () {
                    return 'Count: ' + this.heat;
                });
        } else {
            chart
                .tooltip()
                .titleFormat(function () {
                    return this.y;
                })
                .format(function () {
                    return 'Result: ' + this.heat;
                });
        }


        chart.height(2000)

        chart.container(id);
        chart.draw();
    }
</script>
<x>x</x>
</body>
</html>