<!doctype html>
<html lang="en">
<head>
    <title>COVID-19 Analysis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/main/css/style.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4">
            <h1><a href="{% url 'login' %}" class="logo">Tweety</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
                </li>
                <li>
                    <a href="{% url 'country' %}"><span class="fa fa-user mr-3"></span> Country Selection</a>
                </li>
                <li>
                    <a href="{% url 'info' %}"><span class="fa fa-briefcase mr-3"></span> About</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
                </li>
                <li>
                    <a href="{% url 'login' %}"><span class="fa fa-sign-out mr-3"></span> Logout</a>
                </li>
            </ul>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">HeatMap Graph</h2>
        <div id="occurrence_graph_container" class="graphs" height=2000></div>
        <div id="semantic_graph_container" class="graphs"></div>
    </div>
</div>

<script src="../../static/main/js/jquery.min.js"></script>
<script src="../../static/main/js/popper.js"></script>
<script src="../../static/main/js/bootstrap.min.js"></script>
<script src="../../static/main/js/main.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-heatmap.min.js"></script>
<script>
    anychart.onDocumentReady(function () {
        // create the data
        var data = {{ occurrence_data|safe }};

        // create the chart and set the data
        chart = anychart.heatMap(data);

        // set the chart title
        chart.title("Entity Occurrence");

        // create and configure the color scale.
        var customColorScale = anychart.scales.linearColor();
        customColorScale.colors(["#ace8d4", "#00726A"]);

        // set the color scale as the color scale of the chart
        chart.colorScale(customColorScale);

        chart.height(2000)

        // set the container id
        chart.container("occurrence_graph_container");

        // initiate drawing the chart
        chart.draw();

    });
</script>
</body>
</html>