<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V9</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../static/login/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../../static/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../static/login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>


<div class="container-login100" style="background-image: url('../../static/login/images/bg-01.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <form class="login100-form validate-form" method="post" action="{% url 'register' %}">
            <span class="login100-form-title p-b-37">
                Register
            </span>
            {% csrf_token %} {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                <input
                        type="{% if 'password' in field.label_tag %}password{% else %}text{% endif %}"
                        name="{{ field.html_name }}"
                        class="form-control"
                        maxlength="{% if 'username' in field.label_tag %}150{% endif %}"
                        id="{{ field.id_for_label }}"
                        required
                />
            </div>
            {% if field.errors %} {% for error in field.errors %}
                <p style="font-size: 13px;">
                    {{ error|escape }}
                </p>
            {% endfor %} {% endif %} {% endfor %}
            <button type="submit" class="btn btn-primary mt-2">Register</button>
        </form>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="../../static/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../../static/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../../static/login/vendor/bootstrap/js/popper.js"></script>
<script src="../../static/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../../static/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../../static/login/vendor/daterangepicker/moment.min.js"></script>
<script src="../../static/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../../static/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="../../static/login/js/main.js"></script>

</body>
</html>